mat-toolbar{
    background-color: rgb(217, 219, 218);
    height: 70px;
    color: black;

}
.headName{
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
mat-toolbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}
.inputdiv{
    // border: 1px solid black;
    width: 40%;
    // height: 50%;
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
}

