mat-toolbar{
    background-color: rgb(250, 139, 139);
    height: 10%;

}
.headName{
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
mat-toolbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}
.inputdiv{
    // border: 1px solid black;
    width: 40%;
    // height: 50%;
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
}
.optiondiv{
    border: 1px solid black;
    width: 15%;
    height: 70%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border-radius: 10px;
}
.selectoption{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(250, 139, 139);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}