.outerdiv{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: xx-large;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: medium;
}
mat-card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.example-card {
    width: 40%;
    border: 1px solid black;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px 2px rgb(151, 151, 151);
    border-radius: 10px;
    padding-bottom: 100px;
    

  }
  .example-header-image {
    background-size: cover;
  }

  input{
    margin-top: 10px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}
::ng-deep .mat-form-field-infix {
    display: flex;
    position: relative;
    flex: auto;
    min-width: 0;
    // width: 180px;
}
button{
    margin: 10px 40px;
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 1px 1px rgb(126, 126, 126);
    cursor: pointer;
}
mat-card-actions{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.mat-card {
  background: #c2c0c0; 
  color: black;
}
input{
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 20px;
}