<div class="outerdiv">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <h1>Login</h1>
          <h3>Enter Email and Password</h3>
        </mat-card-header>
        <mat-card-content class="inputdiv">
              <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                <div>Email :   
                  <input type="email" placeholder="Email" [(ngModel)]="email" required email>
                  
                </div>
             </div>
              <div style="display: flex; justify-content: space-between;">
                <div>Password :
                  <input type="password" placeholder="Password" [(ngModel)]="password" required>
                </div>
            </div>
        </mat-card-content> 
        <mat-card-actions>
          <button mat-button style="background-color: rgb(188, 21, 21); margin-left: 20px ; margin-right: 20px; display: flex; justify-content: center;" [routerLink]="['/register']">Register</button>
          <button mat-button style="background-color:  rgb(47, 154, 47); margin-left: 20px ; margin-right: 20px;"  (click)="login()">Login</button>
        </mat-card-actions>
    </mat-card>
    </div>