<div style="display: flex; justify-content: center;">
<div class="optiondiv">
    <select name="" id="" class="selectoption">
        <option value="price" (click)="sortPrice()"><p>Price</p></option>
        <option value="rating" (click)="sortRating()">Rating</option>
        <option value="deliveryDays" (click)="sortDelivery()">Delivery Days</option>
    </select>
</div>
</div>
<div class="outerdiv" >
    <mat-card class="example-card" appearance="outlined" *ngFor="let p of products | searchPipe:searchText" (click)="openDialog(p)">
        <mat-card-content>
         <div>
            <img src={{p.src}} alt="" width="100%" height="50%" style="border-radius: 10px;">
            <p>Name: {{p.name}}</p>
            <p>Description: {{p.description}}</p>
            <p>Rating: {{p.rating}}</p>
            <p>Delivery Days: {{p.delivery_days}}</p>
            <p>Reviews: {{p.reviews}}</p>
            <input type="text" name="" id="" placeholder="review" style="display: none;">
         </div>
        </mat-card-content>
    </mat-card>
    </div>