        <mat-card-content class="example-card">
         <div style="margin: 15px;">
            <div style="display: flex; justify-content: center;">
            <img src={{data.src}} alt="" width="70%" height="50%" style="border-radius: 10px;">
           </div>
            <p>Name: {{data.name}}</p>
            <p>Description: {{data.description}}</p>
            <p>Rating: {{data.rating}}</p>
            <p>Delivery Days: {{data.delivery_days}}</p>
            <p>Reviews: {{data.reviews}}</p>
            <div class="dialogFooter">
            <input type="text" name="" id="" placeholder="review" [(ngModel)]="review">
            <button type="button" style="margin: 5px 5px 5px 5px; background-color: rgb(82, 216, 82);" (click)="submitReview()">Submit</button>
            </div>   
         </div>
        </mat-card-content> 